<div *ngIf="!producto; else divProducto">
  <mat-spinner></mat-spinner>
  <h2>no hay producto</h2>
</div>

<ng-template #divProducto>
  <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="20">
    <div fxFlex="50">
      <h1>{{ producto.name }}</h1>
      <mat-divider></mat-divider>
      <h4>categoria: {{ producto.categoria }}</h4>
      <hr />
      <h2>Precio: ${{ producto.price }}</h2>
      <hr />
      <h3>stock: {{ producto.stock }}</h3>
    </div>

    <div fxFlex="50">
      <div *ngIf="!img; else divImg">
        <mat-spinner></mat-spinner>
      </div>
      <ng-template #divImg>
        <img src="{{ img.fileUrl }}" alt="imagen categoria" />
      </ng-template>
      <h2>Descripcion:</h2>
      <span>{{ producto.description }}</span>
    </div>

    <div fxFlex="100" fxLayoutAlign="center" *ngIf="admin">
      <button mat-raised-button color="warn" (click)="editar(producto.name)">
        Editar Producto
      </button>
    </div>
  </div>
</ng-template>
