::ng-deep .mat-optgroup-label {
  height: 0px !important;
}
.mat-input-element::placeholder {
  color: rgba(255, 255, 255, 0.712);
}

:host ::ng-deep.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(0 0 0 / 10%) !important;
}

.mat-form-field {
  display: flow-root;
}

@media (max-width: 900px) {
  .mat-form-field {
    display: flex;
    justify-content: end;
  }
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px !important;
  padding-left: 10px !important;
}

:host ::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

:host ::ng-deep .mat-form-field-underline {
  bottom: 2px;
}

@media (min-width: 900px) {
  :host ::ng-deep .mat-form-field-underline {
    bottom: 0px;
  }
}
