<form [formGroup]="miFormulario" (ngSubmit)="registro()" autocomplete="">
  <mat-form-field appearance="fill">
    <input matInput formControlName="name" placeholder="Usuario" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input matInput formControlName="email" placeholder="Email" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
      placeholder="Contraseña"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>

  <button mat-raised-button color="primary">Registrarse</button>

  <div class="flex-col-c p-t-60">
    <span> ¿Ya tienes cuenta? </span>

    <a routerLink="/auth"> ingresa aquí</a>
  </div>
</form>
