<div fxLayout="row wrap" fxLayoutAlign="center center" class="categorias">
  <div
    fxFlex="15"
    fxFlex.md="20"
    fxFlex.sm="30"
    fxFlex.xs="40"
    *ngFor="let categoria of categorias"
    class="categoria"
  >
    <app-tarjeta-categoria
      [categoria]="categoria"
      [url]="url"
    ></app-tarjeta-categoria>
  </div>
</div>

<!-- <div>
  <h1>{{ categorias[0].name }}</h1>
  <h2>{{ categorias[0]._id }}</h2>
  <img src="{{ img.fileUrl }}" alt="" />
</div> -->

<!-- // TODO: pude traer una imagen del backend. tengo que seguir intentado con
//fileUrl e implementar tarjetas de categoria (donde ahi buscare cada imagen)

luego implementar lo mismo pero con productos-->
