<div fxLayout="row wrap" fxLayoutGap="15">
  <div fxFlex="30" *ngFor="let categoria of categorias">
    <app-tarjeta-categoria
      [categoria]="categoria"
      [url]="url"
    ></app-tarjeta-categoria>
    <div *ngIf="admin">
      <button mat-raised-button color="warn" (click)="editar(categoria.name)">
        Editar Categoria
      </button>
    </div>
  </div>
</div>

<!-- <div>
  <h1>{{ categorias[0].name }}</h1>
  <h2>{{ categorias[0]._id }}</h2>
  <img src="{{ img.fileUrl }}" alt="" />
</div> -->

<!-- // TODO: pude traer una imagen del backend. tengo que seguir intentado con
//fileUrl e implementar tarjetas de categoria (donde ahi buscare cada imagen)

luego implementar lo mismo pero con productos-->
