.categoria {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.productos {
  height: 250px;
  margin: 10px;
  margin-bottom: 40px;
}

.noCategoria {
  background-color: #3c00bb;
  color: white;
  margin: 15px;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 40px;
  margin-top: 100px;
  -webkit-animation: 2s ease 0s normal forwards 1 fadein;
  animation: 2s ease 0s normal forwards 1 fadein;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #ede5e5 !important;
}
