<div fxLayoutAlign="center center">
  <div
    *ngIf="!categoria; else divCategoria"
    fxFlex="50"
    fxFlex.xs="100"
    fxLayoutAlign="center center"
    fxLayout="row wrap"
    class="noCategoria"
  >
    <h2 fxFlex="100" fxLayoutAlign="center">No hay Categoria con esa Url</h2>

    <mat-spinner></mat-spinner>
  </div>
</div>

<ng-template #divCategoria>
  <div fxLayout="row wrap" fxLayoutAlign="center center" class="categoria">
    <div
      *ngIf="categoria && productos.length == 0"
      fxLayoutAlign="center center"
      class="noCategoria"
    >
      <h1>No hay productos disponibles en esta categoria</h1>
    </div>
    <div
      fxFlex="20"
      fxFlex.md="25"
      fxFlex.sm="30"
      fxFlex.xs="40"
      *ngFor="let producto of productos"
      class="productos"
    >
      <app-tarjeta-producto [producto]="producto"></app-tarjeta-producto>
    </div>
  </div>
</ng-template>

<router-outlet></router-outlet>
