<div>
  <div>
    <h1>{{ titulo }}</h1>
    <hr />
    <form [formGroup]="miFormulario" autocomplete="off">
      <mat-form-field appearance="fill">
        <input
          matInput
          formControlName="name"
          placeholder="Nombre de la categoria"
        />
      </mat-form-field>
      <div>
        <input
          type="file"
          placeholder="imagen"
          (change)="onFileChange($event)"
          formControlName="file"
        />
        <img *ngIf="image" src="{{ image }}" alt="" />

        <input type="text" placeholder="Nombre" formControlName="img" />
      </div>
      <!-- <mat-form-field appearance="fill">
        <input matInput formControlName="img" placeholder="img" />
      </mat-form-field> -->
    </form>
    <div *ngIf="!esEditar()">
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button (click)="CrearCategoria()">Crear</button>
    </div>
    <div *ngIf="esEditar()">
      <button mat-button (click)="cancelar()">Cancelar</button>
      <button mat-button (click)="editarCategoria()">Guardar</button>
      <button mat-button (click)="eliminar(categoria._id!)">Eliminar</button>
    </div>
  </div>
</div>
