<mat-card (click)="verProducto(producto)">
  <mat-card-title>{{ producto.name }}</mat-card-title>

  <mat-card-content>
    <div *ngIf="!img; else divImg">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #divImg>
      <img src="{{ img.fileUrl }}" alt="imagen categoria" />
    </ng-template>
  </mat-card-content>

  <mat-card-footer fxLayout="column">
    <h2>${{ producto.price }}</h2>
  </mat-card-footer>
</mat-card>
<button
  mat-raised-button
  color="warn"
  (click)="editar(producto.name)"
  *ngIf="admin"
>
  Editar Producto
</button>
