<mat-card>
  <mat-card-title>{{ producto.name }}</mat-card-title>
  <mat-card-content>
    <div *ngIf="!imagen; else divImg">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #divImg>
      <img src="{{ imagen }}" alt="" />
    </ng-template>

    <div *ngIf="editarr != producto.name; else divForm">
      <span>Unidades: </span>
      <span>{{ usuario.carrito[index].unidades }} </span>
      <button mat-mini-fab (click)="editar(producto.name)">Editar</button>
      <br />
      <span>Disponibles: {{ producto.stock }}</span>
    </div>

    <ng-template #divForm>
      <span>Unidades: </span>

      <form (ngSubmit)="guardar(producto._id)" #miFormulario="ngForm">
        <mat-form-field>
          <input
            class="form-control"
            matInput
            type="number"
            name="unidades"
            [(ngModel)]="usuario.carrito[index].unidades"
            required
            max="{{ producto.stock }}"
            min="1"
          /> </mat-form-field
        ><span class="form-text text-danger" *ngIf="miFormulario.invalid"
          >Las unidades tienen que ser entre 1 y el stock disponible</span
        >

        <button mat-mini-fab type="submit" [disabled]="miFormulario.invalid">
          Guardar
        </button>
      </form>

      <br />
      <span>Disponibles: {{ producto.stock }}</span>
    </ng-template>

    <span
      >Precio: {{ usuario.carrito[index].unidades }} x ${{
        producto.price
      }}</span
    >
    <br />
    <span>Total: ${{ usuario.carrito[index].unidades * producto.price }}</span>
  </mat-card-content>
  <mat-card-footer>
    <button mat-button (click)="eliminar(producto._id)">Eliminar</button>
  </mat-card-footer>
</mat-card>
