h4 {
  margin-block: 0;
}
span {
  max-width: 50%;
}

@media (max-width: 550px) {
  .button {
    max-width: 35% !important;
    padding: 0px !important;
  }

  span {
    max-width: 32%;
    margin-left: 12px;
  }
}

.producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: 0px 2px 1px 3px rgb(0 0 0 / 20%), 0px 1px 1px 1px rgb(0 0 0 / 14%),
    0px 1px 3px 1px rgb(0 0 0 / 12%) !important;
}

.button {
  max-width: 20%;
  color: #3c00bb;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
