<mat-card (click)="irA(categoria.name)">
  <mat-card-title>{{ categoria.name | titlecase }}</mat-card-title>
  <mat-divider></mat-divider>
  <mat-card-content fxLayoutAlign="center center">
    <div *ngIf="!img; else divImg">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #divImg>
      <img src="{{ img.fileUrl }}" alt="imagen categoria" />
    </ng-template>
  </mat-card-content>
</mat-card>
<button
  mat-raised-button
  color="warn"
  (click)="editar(categoria.name)"
  *ngIf="admin"
  class="boton"
>
  Editar Categoria
</button>
