html,
body {
  height: 100%;
  /* TODO cambiar imagen a Local */

  background-image: url("https://fondosmil.com/fondo/12586.jpg");
}
body {
  margin: 0;
  font-family: "Cormorant Garamond", serif !important;
}
