html,
body {
  height: 100%;

  background-image: url("https://res.cloudinary.com/dsbzcd3d8/image/upload/v1655130854/oyxzaywfdn1nlveupgzb.jpg");
}
body {
  margin: 0;
  font-family: "Cormorant Garamond", serif !important;
}
