<mat-toolbar>
  <mat-toolbar-row>
    <div fxLayout="row" class="menuSuperior">
      <span fxFlex="30" class="titulo">All Computers</span>
      <app-buscar fxFlex="30" *ngIf="!menuComprimido"></app-buscar>
      <div fxLayout="row" *ngIf="!menuComprimido; else MenuComprimido">
        <button mat-button *ngIf="!admin" [routerLink]="['/home/carrito']">
          <mat-icon>shopping_cart</mat-icon>
          Carrito
        </button>
        <button mat-button *ngIf="!admin" [routerLink]="['/home/compras']">
          <mat-icon>local_mall</mat-icon>
          Compras
        </button>
        <button
          mat-button
          *ngIf="admin"
          routerLink="crear-editar-categoria/new"
        >
          <mat-icon>add</mat-icon> crear categoria
        </button>
        <button mat-button *ngIf="admin" routerLink="crear-editar-producto/new">
          <mat-icon>add</mat-icon>crear Producto
        </button>
        <button mat-button [matMenuTriggerFor]="menus">
          <mat-icon>account_circle</mat-icon>
          {{ usuario.name }}
        </button>
        <mat-menu #menus="matMenu" xPosition="before" fxLayout="column">
          <button mat-button (click)="logOut()">
            <mat-icon>logout</mat-icon>Log Out
          </button>
        </mat-menu>
      </div>
      <ng-template #MenuComprimido>
        <div class="botonUser">
          <button mat-button [matMenuTriggerFor]="user">
            <mat-icon>account_circle</mat-icon>
            {{ usuario.name }}
          </button>
          <mat-menu #user="matMenu" xPosition="before" fxLayout="column">
            <button mat-button *ngIf="!admin" [routerLink]="['/home/carrito']">
              <mat-icon>shopping_cart</mat-icon>
              Carrito
            </button>

            <button mat-button *ngIf="!admin" [routerLink]="['/home/compras']">
              <mat-icon>local_mall</mat-icon>
              Compras
            </button>
            <button
              mat-button
              *ngIf="admin"
              routerLink="crear-editar-categoria/new"
            >
              <mat-icon>add</mat-icon> crear categoria
            </button>
            <button
              mat-button
              *ngIf="admin"
              routerLink="crear-editar-producto/new"
            >
              <mat-icon>add</mat-icon>crear Producto
            </button>

            <button mat-button (click)="logOut()">
              <mat-icon>logout</mat-icon>Log Out
            </button>
          </mat-menu>
        </div>
      </ng-template>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <div *ngIf="!menuComprimido; else menuComprido" fxLayout="row">
      <div>
        <button mat-button [routerLink]="admin ? '/admin' : '/home'">
          Categorias
        </button>
      </div>

      <div *ngFor="let categoria of categorias">
        <button mat-button (click)="irA(categoria.name)">
          {{ categoria.name | titlecase }}
        </button>
      </div>
    </div>
    <ng-template #menuComprido>
      <div fxLayout="row">
        <button
          mat-button
          [routerLink]="admin ? '/admin' : '/home'"
          class="categ"
        >
          Categorias
        </button>

        <div>
          <button mat-icon-button [matMenuTriggerFor]="categ">
            <mat-icon>menu</mat-icon>
          </button>
          <mat-menu #categ="matMenu" xPosition="before" fxLayout="column">
            <div *ngFor="let categoria of categorias">
              <button mat-button (click)="irA(categoria.name)">
                {{ categoria.name | titlecase }}
              </button>
            </div>
          </mat-menu>
        </div>
      </div>
      <div><app-buscar></app-buscar></div>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
